#admin-sidebar {
    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        color: #939597;
        svg {
            color: #939597;
        }

        &:hover:not(.active) {
            color: #DDD;
            svg {
                color: #DDD;
            }
        }

        &.active {
            color: #FFF;
            svg {
                color: #FFF;
            }
        }
    }
}

.overview-cards {
    display: flex;

    .overview-card-wrapper {
        padding: 1.75rem 0;
        flex: 1;

        .overview-card-item {
            padding: 0 2.25rem;
            letter-spacing: -.25px;
        }

        &:not(:last-child) .overview-card-item {
            border-right: 1px solid #ddd;
        }
    }
}

.crud-table {
    table {
        &.table {
            width: 100%;

            th {
                text-transform: uppercase;
                font-size: 0.85rem;
                font-weight: 800;
                padding: 1.25rem 0.75rem;
                color: #7a7a7a;
            }

            th, td {
                vertical-align: middle;
            }
        }

        &.dataTable {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    .dataTables_wrapper {
        .dataTables_filter {
            label {
                margin-bottom: 0;
            }

            .form-control-sm {
                background-color: #f8fafb;
                height: auto;
                font-size: 1rem;
                margin: 0;
            }
        }

        .dataTables_info {
            padding-top: 0;
        }
    }
}
